.loading{
	display:inline;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;


	-moz-animation-name: spin;
	-moz-animation-duration: 1000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;

	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@-moz-keyframes spin {

	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {

	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {

	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
.progress{
	height:5px;
	border:0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.input-group *{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: 0;
}